#container {
  display: grid;
  border: 1px solid pink;
}

.piece,
.dropzone {
  outline: 0.5px solid pink;
}

.piece {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.36);
}

img {
  width: 300px;
  position: absolute;
}
